/* view{
    display: flex;
}
.bg-headPurple{
    background-color: #8decff !important;
}
.bg-totalRed {
    background-color: #007092 !important; 
    color: #fff !important;
  }
  .table td {
    border: 1px solid #00d5ff !important;
  }
strong{
  background-color: transparent !important;
  border: none !important;
  color: #fff !important;
}

/* .container-width{
 width: 80%;
} */



#report-content {
  font-family: Arial, sans-serif;
  font-size: 18px;
  padding: 20px;
}

#report-content table {
  width: 100%;
  border-collapse: collapse;
}

#report-content th, #report-content td {
  /* border: 1px solid #000; */
  padding: 8px;
  text-align: left;
}

.pageBreak {
  page-break-before: always;
  margin-top: 20px;
}

.avoidBreak {
  break-inside: avoid;
}

.table-div{
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
}
.table-div td{
  border: 1px solid #673AB7;
}


@media print {
    #report-content {
        page-break-before: always;
    }
    .pageBreak {
        page-break-before: always;
    }
}

