@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.bg-totalRed {
  background-color: rgb(255, 143, 143) !important;
  font-weight: 600;
}

.bg-headPurple {
  background-color: #673ab73d !important;
  font-weight: 600;
  text-align: center;
  border: 1px solid #673AB7 !important;
}

.bg-highlightGreen {
  background-color: rgb(143, 255, 192) !important;
  font-weight: 600;
}


.animate-ping {
  animation: ping 1s infinite;
}
@keyframes ping {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.5); opacity: 0.5; }
  100% { transform: scale(2); opacity: 0; }
}


/* Hide download/print buttons in Chrome PDF viewer */
embed[type="application/pdf"] {
  pointer-events: none;
}

@media print {
  body * {
    display: none !important;
  }
}


@media print{
    .pdf-container{
    display: none;
}
}

/* Dark mode border fixes */
.dark .border {
  border-color: #374151 !important; /* gray-800 */
}

.dark .border-gray-200 {
  border-color: #374151 !important; /* gray-800 */
}

.dark .border-gray-300 {
  border-color: #4b5563 !important; /* gray-700 */
}
